In [2]:
# Logan Caldwell pandas hw
# importing dependencies

import pandas as pd
import numpy as np

In [3]:
# Read in csv file and assign dataframes

school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [4]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [5]:
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [96]:
#Merge data to one df

school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [182]:
# District summaries

print("District Summary: ")
print()

tot_num_schools = int(len(school_data_complete["School ID"].unique()))
print(f"The total number of schools is: {tot_num_schools}")

tot_num_students = len(school_data_complete["student_name"])
print(f"The total number of students is: {tot_num_students}")

tot_budget = sum(school_data_complete["budget"].unique())
print(f"The total budget is: {tot_budget}")

avg_math_score = round(sum(school_data_complete["math_score"])/tot_num_students, 2)
print(f"The average math score is: {avg_math_score}")

avg_reading_score = round(sum(school_data_complete["reading_score"])/tot_num_students, 2)
print(f"The average reading score is: {avg_reading_score}")

avg_passing_ie_tot_score = round((avg_math_score + avg_reading_score)/2, 2)
print(f"The average passing (i.e., overall average) score is: {avg_passing_ie_tot_score}")

df_passing_math_students = school_data_complete[school_data_complete["math_score"] >= 70]
num_passing_math_students = int(len(df_passing_math_students))
pct_passing_math_students = round(((num_passing_math_students/tot_num_students)*100), 2)
print(f"Percentage of passing math students is: {pct_passing_math_students}%")

df_passing_reading_students = school_data_complete[school_data_complete["reading_score"] >= 70]
num_passing_reading_students = int(len(df_passing_reading_students))
pct_passing_reading_students = round(((num_passing_reading_students/tot_num_students)*100), 2)
print(f"Percentage of passing reading students is: {pct_passing_reading_students}%")


dict_district_summary = {"Num_schools":tot_num_schools, "Num_students":tot_num_students, "Tot_budget":tot_budget, 
                         "Avg_math":avg_math_score, "Avg_reading":avg_reading_score, 
                         "avg_passing":avg_passing_ie_tot_score, "pct_math_pass":pct_passing_math_students, 
                         "pct_reading_pass":pct_passing_reading_students}
df_district_summary = pd.DataFrame(data=dict_district_summary, index = ['Info'], columns = ["Num_schools","Num_students","Tot_budget",
                                                                          "Avg_math","Avg_reading","avg_passing",
                                                                          "pct_math_pass","pct_reading_pass"])
df_district_summary

District Summary:

The total number of schools is: 15
The total number of students is: 39170
The total budget is: 24649428
The average math score is: 78.99
The average reading score is: 81.88
The average passing (i.e., overall average) score is: 80.44
Percentage of passing math students is: 74.98%
Percentage of passing reading students is: 85.81%

,Num_schools,Num_students,Tot_budget,Avg_math,Avg_reading,avg_passing,pct_math_pass,pct_reading_pass
Info,15,39170,24649428,78.99,81.88,80.44,74.98,85.81

In [344]:
school_data_complete["percent_math_pass"] = pct_passing_math_students

In [347]:
school_data_complete["percent_reading_pass"] = pct_passing_reading_students

In [348]:
school_data_complete["overall_pass"] = 80.44

In [349]:
# School summaries

school_data_complete_grouped_by_school = school_data_complete.groupby("school_name")
school_data_complete_grouped_by_school.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,percent_math_pass,percent_reading_pass,overall_pass
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,74.98,85.81,80.44
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,74.98,85.81,80.44
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,74.98,85.81,80.44
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,74.98,85.81,80.44
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,74.98,85.81,80.44
2917,2917,Amy Jacobs,F,10th,Figueroa High School,85,87,1,District,2949,1884411,74.98,85.81,80.44
2918,2918,Nathan Campbell,M,12th,Figueroa High School,97,84,1,District,2949,1884411,74.98,85.81,80.44
2919,2919,Randall Stewart,M,12th,Figueroa High School,67,77,1,District,2949,1884411,74.98,85.81,80.44
2920,2920,Jennifer Brown,F,9th,Figueroa High School,97,64,1,District,2949,1884411,74.98,85.81,80.44
2921,2921,Denise Lopez,F,10th,Figueroa High School,79,64,1,District,2949,1884411,74.98,85.81,80.44
5866,5866,Jamie Montgomery,F,12th,Shelton High School,70,91,2,Charter,1761,1056600,74.98,85.81,80.44
5867,5867,Shannon Phillips,F,10th,Shelton High School,84,71,2,Charter,1761,1056600,74.98,85.81,80.44
5868,5868,Todd Barber,M,11th,Shelton High School,95,99,2,Charter,1761,1056600,74.98,85.81,80.44
5869,5869,Desiree King,F,12th,Shelton High School,76,95,2,Charter,1761,1056600,74.98,85.81,80.44
5870,5870,Melissa Roberts,F,10th,Shelton High School,71,82,2,Charter,1761,1056600,74.98,85.81,80.44
7627,7627,Russell Davis,M,10th,Hernandez High School,70,88,3,District,4635,3022020,74.98,85.81,80.44
7628,7628,Timothy Walker,M,12th,Hernandez High School,97,93,3,District,4635,3022020,74.98,85.81,80.44
7629,7629,Katie Johnston,F,12th,Hernandez High School,83,81,3,District,4635,3022020,74.98,85.81,80.44
7630,7630,Joann Oconnell,F,12th,Hernandez High School,77,91,3,District,4635,3022020,74.98,85.81,80.44
7631,7631,Sarah Alexander,F,10th,Hernandez High School,84,93,3,District,4635,3022020,74.98,85.81,80.44
12262,12262,Heather Wright,F,11th,Griffin High School,79,68,4,Charter,1468,917500,74.98,85.81,80.44
12263,12263,Elizabeth Goodwin,F,10th,Griffin High School,91,81,4,Charter,1468,917500,74.98,85.81,80.44
12264,12264,Michelle Wong,F,9th,Griffin High School,78,89,4,Charter,1468,917500,74.98,85.81,80.44
12265,12265,Scott Roth MD,M,11th,Griffin High School,91,85,4,Charter,1468,917500,74.98,85.81,80.44
12266,12266,Billy Wilson,M,12th,Griffin High School,76,83,4,Charter,1468,917500,74.98,85.81,80.44
13730,13730,Kelli Anderson,F,10th,Wilson High School,84,71,5,Charter,2283,1319574,74.98,85.81,80.44
13731,13731,Russell Ramirez,M,10th,Wilson High School,72,87,5,Charter,2283,1319574,74.98,85.81,80.44
13732,13732,Eric Butler,M,10th,Wilson High School,97,82,5,Charter,2283,1319574,74.98,85.81,80.44
13733,13733,Warren Kerr,M,11th,Wilson High School,93,68,5,Charter,2283,1319574,74.98,85.81,80.44
13734,13734,Gail Hall,F,9th,Wilson High School,79,72,5,Charter,2283,1319574,74.98,85.81,80.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23274,23274,Alec Davis,M,9th,Pena High School,91,75,9,Charter,962,585858,74.98,85.81,80.44
23275,23275,Michael Meyer,M,10th,Pena High School,94,76,9,Charter,962,585858,74.98,85.81,80.44
23276,23276,Donald Gutierrez,M,11th,Pena High School,98,91,9,Charter,962,585858,74.98,85.81,80.44
23277,23277,Travis Chavez,M,11th,Pena High School,78,71,9,Charter,962,585858,74.98,85.81,80.44
23278,23278,Sheena Ball,F,12th,Pena High School,87,92,9,Charter,962,585858,74.98,85.81,80.44
24236,24236,Aaron Johnson,M,10th,Wright High School,89,72,10,Charter,1800,1049400,74.98,85.81,80.44
24237,24237,Kimberly Hamilton,F,10th,Wright High School,84,93,10,Charter,1800,1049400,74.98,85.81,80.44
24238,24238,Ashley Johns,F,10th,Wright High School,88,88,10,Charter,1800,1049400,74.98,85.81,80.44
24239,24239,Stephanie Donovan,F,10th,Wright High School,75,84,10,Charter,1800,1049400,74.98,85.81,80.44
24240,24240,Cynthia Guzman,F,11th,Wright High School,93,82,10,Charter,1800,1049400,74.98,85.81,80.44
26036,26036,Sherry Jenkins,F,11th,Rodriguez High School,74,81,11,District,3999,2547363,74.98,85.81,80.44
26037,26037,Kimberly Calderon,F,10th,Rodriguez High School,80,86,11,District,3999,2547363,74.98,85.81,80.44
26038,26038,William Brady,M,11th,Rodriguez High School,97,62,11,District,3999,2547363,74.98,85.81,80.44
26039,26039,Jacob Padilla,M,11th,Rodriguez High School,79,73,11,District,3999,2547363,74.98,85.81,80.44
26040,26040,Paula Maldonado,F,10th,Rodriguez High School,96,92,11,District,3999,2547363,74.98,85.81,80.44
30035,30035,Lisa Casey,F,12th,Johnson High School,87,87,12,District,4761,3094650,74.98,85.81,80.44
30036,30036,Jessica Lopez,F,9th,Johnson High School,98,62,12,District,4761,3094650,74.98,85.81,80.44
30037,30037,Anna Wilkins,F,11th,Johnson High School,89,77,12,District,4761,3094650,74.98,85.81,80.44
30038,30038,Andrew Smith,M,9th,Johnson High School,66,85,12,District,4761,3094650,74.98,85.81,80.44
30039,30039,Robert Allison,M,11th,Johnson High School,63,85,12,District,4761,3094650,74.98,85.81,80.44
34796,34796,Michael Mercado,M,9th,Ford High School,66,94,13,District,2739,1763916,74.98,85.81,80.44
34797,34797,Stephen Wolf,M,11th,Ford High School,68,63,13,District,2739,1763916,74.98,85.81,80.44
34798,34798,Bonnie Hughes,F,12th,Ford High School,73,59,13,District,2739,1763916,74.98,85.81,80.44
34799,34799,Melissa Smith,F,11th,Ford High School,88,58,13,District,2739,1763916,74.98,85.81,80.44
34800,34800,Brian Mitchell,M,10th,Ford High School,96,55,13,District,2739,1763916,74.98,85.81,80.44
37535,37535,Norma Mata,F,10th,Thomas High School,76,76,14,Charter,1635,1043130,74.98,85.81,80.44
37536,37536,Cody Miller,M,11th,Thomas High School,84,82,14,Charter,1635,1043130,74.98,85.81,80.44
37537,37537,Erik Snyder,M,9th,Thomas High School,80,90,14,Charter,1635,1043130,74.98,85.81,80.44
37538,37538,Tanya Martinez,F,9th,Thomas High School,71,69,14,Charter,1635,1043130,74.98,85.81,80.44
37539,37539,Noah Erickson,M,9th,Thomas High School,86,76,14,Charter,1635,1043130,74.98,85.81,80.44

In [350]:
# School summaries cont.

tot_student = school_data_complete_grouped_by_school["school_name"].value_counts()
tot_student.head()

school_name           school_name
Bailey High School    Bailey High School      4976
Cabrera High School   Cabrera High School     1858
Figueroa High School  Figueroa High School    2949
Ford High School      Ford High School        2739
Griffin High School   Griffin High School     1468
Name: school_name, dtype: int64

In [351]:
school_type = school_data_complete_grouped_by_school["type"]
school_type.head()

0        District
1        District
2        District
3        District
4        District
2917     District
2918     District
2919     District
2920     District
2921     District
5866      Charter
5867      Charter
5868      Charter
5869      Charter
5870      Charter
7627     District
7628     District
7629     District
7630     District
7631     District
12262     Charter
12263     Charter
12264     Charter
12265     Charter
12266     Charter
13730     Charter
13731     Charter
13732     Charter
13733     Charter
13734     Charter
           ...
23274     Charter
23275     Charter
23276     Charter
23277     Charter
23278     Charter
24236     Charter
24237     Charter
24238     Charter
24239     Charter
24240     Charter
26036    District
26037    District
26038    District
26039    District
26040    District
30035    District
30036    District
30037    District
30038    District
30039    District
34796    District
34797    District
34798    District
34799    District
34800    District
37535     Charter
37536     Charter
37537     Charter
37538     Charter
37539     Charter
Name: type, Length: 75, dtype: object

In [352]:
tot_student = school_data_complete_grouped_by_school["student_name"].count()
# tot_student.head()

In [353]:
total_school_budg = float(school_data_complete_grouped_by_school["budget"].mean())
# total_school_budg.head()

TypeError: cannot convert the series to <class 'float'>

In [354]:
per_student_budg = (total_school_budg/(school_data_complete_grouped_by_school["Student ID"].nunique()))

In [355]:
avg_math_score = school_data_complete_grouped_by_school["math_score"].mean()

In [356]:
avg_reading_score = school_data_complete_grouped_by_school["reading_score"].mean()

In [357]:
# percent_pass_math = ((school_data_complete_grouped_by_school[(school_data_complete_grouped_by_school["math_score"] >= 70), :])/(school_data_complete_grouped_by_school["Student ID"].nunique()))

# df_passing_math_students = school_data_complete[school_data_complete["math_score"] >= 70]
# num_passing_math_students = int(len(df_passing_math_students))
# pct_passing_math_students = round(((num_passing_math_students/tot_num_students)*100), 2)
# print(f"Percentage of passing math students is: {pct_passing_math_students}%")

In [358]:
school_summary_table = pd.DataFrame({
                                    "school_type": school_type,
                                    "total_students": tot_student,
                                    "total_school_budg": total_school_budg,
                                    "per_student_budg": per_student_budg,
                                    "avg_math_score": avg_math_score,
                                    "avg_reading_score": avg_reading_score,
                                    "%_pass_math": "percent_pass_math",
                                    "%_pass_reading": "percent_pass_reading",
                                    "overall_pass_rate": "overall_pass_rate" 
                                    })
school_summary_table.head(10)

,school_type,total_students,total_school_budg,per_student_budg,avg_math_score,avg_reading_score,%_pass_math,%_pass_reading,overall_pass_rate
school_name,,,,,,,,,
Bailey High School,"(Bailey High School, [District, District, Dist...",4976,3124928,628.0,77.048432,81.033963,percent_pass_math,percent_pass_reading,overall_pass_rate
Cabrera High School,"(Cabrera High School, [Charter, Charter, Chart...",1858,1081356,582.0,83.061895,83.975780,percent_pass_math,percent_pass_reading,overall_pass_rate
Figueroa High School,"(Figueroa High School, [District, District, Di...",2949,1884411,639.0,76.711767,81.158020,percent_pass_math,percent_pass_reading,overall_pass_rate
Ford High School,"(Ford High School, [District, District, Distri...",2739,1763916,644.0,77.102592,80.746258,percent_pass_math,percent_pass_reading,overall_pass_rate
Griffin High School,"(Griffin High School, [Charter, Charter, Chart...",1468,917500,625.0,83.351499,83.816757,percent_pass_math,percent_pass_reading,overall_pass_rate
Hernandez High School,"(Hernandez High School, [District, District, D...",4635,3022020,652.0,77.289752,80.934412,percent_pass_math,percent_pass_reading,overall_pass_rate
Holden High School,"(Holden High School, [Charter, Charter, Charte...",427,248087,581.0,83.803279,83.814988,percent_pass_math,percent_pass_reading,overall_pass_rate
Huang High School,"(Huang High School, [District, District, Distr...",2917,1910635,655.0,76.629414,81.182722,percent_pass_math,percent_pass_reading,overall_pass_rate
Johnson High School,"(Johnson High School, [District, District, Dis...",4761,3094650,650.0,77.072464,80.966394,percent_pass_math,percent_pass_reading,overall_pass_rate
Pena High School,"(Pena High School, [Charter, Charter, Charter,...",962,585858,609.0,83.839917,84.044699,percent_pass_math,percent_pass_reading,overall_pass_rate